.videopage nav ul li a {
    font-size: 45px;
    margin: 20px;
    text-shadow: 1px 0 20px #5a4f4f;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    display: block;


}

.videopage iframe{
    width: 1000px;
    height: 800px;
    display: block; 
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 1px 0 20px #5a4f4f;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #100A31;   
    padding: 20px;
   
}

.header h1 img {
    width: 18%;
    padding: 15px;
    margin: 0;
   
}

.header h1 {
    font-size: 88px;
    margin: 0;
    text-shadow: 1px 0 20px #5a4f4f;
   
}

.header h2{
    font-size: 30px;
    margin: 0;
    
}

.header label{
    font-size: 30px;
    margin: 0;
}

.header nav ul {
    list-style: none;
    padding: 0;
}

.header nav ul li {
    display: inline-block;
    margin-right: 20px;
    text-shadow: 1px 0 20px #5a4f4f;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 36px;
}

#home h1{
    font-size: 88px;
    display: flex;
    justify-content: center;
    background-color:#340C6F;
    padding: 20px;
    border-radius: 30px;
    margin: 20px;
}
#home p{
    margin: 20px;
    justify-content: center;
    padding: 20px;
    font-size: 54px;
    text-align: center;
}

#home iframe{
    width: 1000px; 
    display: block; 
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 1px 0 20px #5a4f4f;
    
}

#home img {
    width: 1000px; 
    display: block; 
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 1px 0 20px #5a4f4f;
    
}

#home a{
    margin: 20px;
    display: flex;
    border-radius: 20px;
    background-color: #1B0F88;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 30px;
}


#curiosidades h1{
    font-size: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    text-shadow: 1px 0 20px #a41e9f;
    
}

#curiosidades h2{
    font-size: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    text-shadow: 1px 0 20px #a41e9f;
}

#curiosidades p{
    font-size: 25px;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    text-shadow: 1px 0 20px #a41e9f;
    text-align: center;
}

#curiosidades img{
    width: 880px; 
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    border-radius: 10px;
    padding-top: 35px;
    padding-left: 10px;
}


#contato h1{
    padding-top: 10px;
    display: flex;
    justify-content: center;

}

section.redes-sociais img {
    width: 30px; 
    display: flex;
    flex-direction: row;
    margin: 20px; 
    justify-content: space-around;
    text-align: center;
    background-color: #333333;
    
}


#contato p{
    display: flex;
    justify-content: center;
    font-size: 30px;

}

.icones-redes-sociais{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    text-decoration: none;
    flex-wrap: wrap;

}

.formulario{
    background: #100A31; 
    padding: 20px;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#contato form label {
    display: block;
    justify-content: center;
    margin-bottom: 5px;
    align-items: center;
}

#contato form input[type="email"],
#contato form input[type="text"],
#contato form textarea {
    width: 450px; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #100A31; 
    border-radius: 3px;
    box-sizing: border-box;
    background: #ffffff; 
    color: #000000;
    justify-content: center;
    display: block;
    box-shadow: 2px 0 20px #5B0D7A;

}

#contato form textarea {
    height: 50px;
}

#contato form button {
    background: #100A31; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    align-items: center;
}

#contato form button {
    background: #340C6F;  
}

#contato form button:hover {
    background: #56555a;  
}



footer {
    text-align: center; 
    background-color: #333333;
    color: #15144E;
    padding: 5px;
}

footer p {
    background-color: #333333c0;
    margin: 0;
}